@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local('Roboto-Bold'),
    url("Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local('Roboto-Regular'),
    url("Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local('Roboto-Medium'),
    url("Roboto-Medium.ttf");
}